<div class="blog">
    <h2><%= msg.title %></h2>
    <div><strong>Username:</strong> <%= msg.name %></div>
    <div><strong>Date:</strong> <%= msg.timestamp %></div>
    <a href="/<%= msg._id %>">See Full Blog</a>
</div>
